---
Checks: |
    -*,
    clang-analyzer-*,
    performance-*, readability-*, bugprone-*,
    cppcoreguidelines-*,
        -cppcoreguidelines-pro-bounds-pointer-arithmetic,
        -cppcoreguidelines-pro-type-union-access,
        -cppcoreguidelines-pro-bounds-constant-array-index,
    mpi-*,misc-*,
    modernize-*,
        -modernize-use-trailing-return-type
WarningsAsErrors: true
HeaderFilterRegex: ""
AnalyzeTemporaryDtors: false
FormatStyle: .clang-format
CheckOptions:
    - key: cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor
      value: true
